.sign-up {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    &__form{
        display: flex;
        flex-direction: column;
        text-align: center;
        &--label{
            margin: 0;
            font-weight: 400;
            font-size: 40px;
        }
        &--link{
            text-decoration: none;
            color: #5CB85C;
            margin: 1rem 0 2rem 0;
        }
        &--link:hover{
            text-decoration: underline;
            color: #3e8a3e;
        }
        input{
            padding: 12px 24px;
            font-size: 20px;
            border-radius: 5px;
            margin-bottom: 1rem;
            border: 1px solid silver;
            outline: none;
        }
        &--btn{
            display: flex;
            justify-content: center;
            text-align: center;
            font-weight: normal;
            margin-left: 70%;
            color: #fff;
            background-color: #5CB85C;
            border-color: #5CB85C;
            width: 30%;
            padding: 0.75rem 1.75rem;
            font-size: 1.25rem;
            border-radius: 0.3rem;
            white-space: nowrap;
            cursor: pointer;
            border: 1px solid transparent;
        }
    }
}