.article-item{
    border-top: 1px solid silver;
    box-sizing: border-box;
    padding: 1rem 0;
    &__content-user{
        display: flex;
        justify-content: space-between;
        .content-user__info{
            display: flex;
            align-items: center;
            img{
                border-radius: 35px ; 
            }
            &-description{
                p{
                    margin: 0;
                    font-size: 12px;
                    color: #bbb;
                }
                .link{
                    font-size: 15px;
                    display: flex;
                    color: #5CB85C;
                    text-decoration: none;
                }
            }
        }
        .content-user__likes{
            border: 1px solid #5CB85C;
            border-radius: 3px;
            display: flex;
            align-items: center;
            color: #5CB85C;
            margin-top: 0.5rem;
            padding: 0 0.5rem;
            background-color: white;
            height: 1.5rem;
        }
        .content-user__likes--loading{
            border: 1px solid #5CB85C;
            border-radius: 3px;
            display: flex;
            align-items: center;
            color: #5CB85C;
            margin-top: 0.5rem;
            padding: 0 0.5rem;
            height: 1.5rem;
            cursor:wait;
        }
    }
    &__content-description{
        text-align: start;
        button{
            background-color: white;
            border: none;
            cursor: pointer;
            padding: 0;
        }
        h2{
            margin-bottom: 0
        }
        p{
            margin-top: 0;
            color: #bbb;
        }
    }
    &__content-info{
        display: flex;
        justify-content: space-between;
        button{
            border: none;
            background-color: white;
            color: #bbb;
            padding: 0;
        }
        div{
            display: flex;
            .article-item__content-info--tag{
                border: 1px solid silver;
                border-radius: 15px; 
                padding: 0 0.5rem;
                color: #bbb;
                margin-left: 5px;
            }
        }
    }
}